extends layout

block content
  div.jumbotron.addstory
    form.form-horizontal(action='/post-curriculum', method='post', id='addcurriculum')
        fieldset
            legend Share your curriculum.
            br
            .form-group
              label.col-lg-2.control-label(for='inputName') Name
              .col-lg-10
                input#inputName.form-control(type='text', name='name', placeholder='Name')
            .form-group
              label.col-lg-2.control-label(for='inputEmail') Email
              .col-lg-10
                input#inputEmail.form-control(type='text', name='email', placeholder='Email')
            .form-group
              label.col-lg-2.control-label(for='inputCurriculum') Curriculum
              .col-lg-10
                textarea#inputCurriculum.form-control(rows='8', name='curriculum', placeholder='Share your curriculum here')
            .form-group
              label.col-lg-2.control-label Key Elements
              .col-lg-10
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Motivation')
                    | Motivation
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Reflection')
                    | Reflection
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Collaboration')
                    | Collaboration
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Iteration')
                    | Iteration
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Embracing Failure')
                    | Embracing Failure
                .checkbox
                  label
                    input(type='checkbox', name='element', value='Inclusion')
                    | Inclusion
                    br
                    br
            .form-group
              .col-lg-10.col-lg-offset-2(align='center')
                button.btn.btn-default.separate Cancel
                button.btn.btn-primary(type='submit' ).separate Submit