extends layout

block content

  each cur, i in list
    p Name:
      | #{cur.name}
      br
    p Curriculum:
      | #{cur.curriculum}
      br
    p Elements:
      | #{cur.elements}
      br
    br
    br