extends layout

block content
  .jumbotron
    h2 What makes the Olin approach to education special?
      br
      .col-lg-7
        p
          br
          br
          | We are a team of professors and students at Olin College working to find out how we can identify the core Olin values that make the Olin education experience awesome, and then instill those values into the K12 space. This website is a prototype for documenting how the Olin community is currently involved with K12. We are interested in hearing your stories and learning about your resources. Help us figure out what makes Olin special and how we can continue to share that with the younger generations!
          br
          br
          .col-lg-7.col-lg-offset-2(align='center')
            form(action='/experiences', method='get')
              button.btn.btn-default.btn-lg(type='submit') Check out the experiences we've had so far.
            br
      img.homePic(src="images/edisco.jpg")
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Motivation
      .panel-body
        | Students who are engaged with the material and want to participate learn more and are easier to work with. How can we create an environment where students are learning because they want to, rather than because they have to?
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Reflection
      .panel-body
        | Students who take the time to think back on their actions can extract more learning and actively become better learners. How can we help students use their previous experiences to shape the way they approach activities in the future?
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Collaboration
      .panel-body
        | Working in teams is a critical skill after school, and can make learning more enjoyable and more effective. How can we help students be comfortable sharing their ideas and helping each other?
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Iteration
      .panel-body
        | Very few ideas are perfect on the first try. How do we help students learn how to use testing and feedback to iteratively improve their ideas?
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Learning from Failure
      .panel-body
        | Failures can be hugely educational experiences if we let them. How do we help students understand failure as a natural part of doing anything new, and embrace it as a learning experience?
  div.col-lg-4
    .panel.panel-success
      .panel-heading
        h3.panel-title Inclusion
      .panel-body
        | Every student has something valuable to contribute. How do we create an environment where everyone is included and respected?
