extends layout

block content
  div.well
    p Olin was founded to radically change engineering education with the goal of fueling the technical innovation needed to solve the world’s complex future challenges.

    p In 1997, the F.W. Olin Foundation established the college with a visionary and unprecedented grant “to be an important and constant contributor to the advancement of engineering education in America and throughout the world.” From day one, Olin had no departments or tenured faculty, allowing for true collaboration and integration of efforts.

    p Olin instills passion and ignites innovation by focusing engineering students on the needs of people in the real world. This broad perspective in the hands of creative and motivated students inspires technical mastery for a purpose. Olin “engineer-innovators” envision and deliver products, services and systems that transform the way people live on this planet.

    p In the past decade, Olin’s approach has proven successful by all measures. We are attracting the country’s top faculty and students who are passionate about learning and making a difference in the world. Our student body is gender balanced and has one of the highest graduation rates in the country. Students are entering the country’s top graduate schools, being offered generous scholarships, are actively pursued by employers, or starting their own businesses right out of college. We’ve also appeared and risen on almost all of the top educational rankings.

    p Educational, business and governmental leaders from around the world are coming to Olin to learn about our new and effective learning environment. Olin’s Collaboratory is dedicated to co-designing transformational educational experiences with other institutions.

    p We invite you to learn more about Olin and its unique role in the world and to join us in our effort to revolutionize engineering education. 