extends layout

block content

  each story, i in list
    p Name:
      | #{story.name}
      br
    p Story:
      | #{story.story}
      br
    p Elements:
      | #{story.elements}
      br
    br
    br