body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addstory
{
width:900px;
margin-left:auto;
margin-right:auto;
}

.separate
{
margin-left:10px;
margin-right:10px;
}