body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addstory
{
width:1000px;
margin-left:auto;
margin-right:auto;
}

.separate
{
margin-left:10px;
margin-right:10px;
}

.filter
{
margin-left: 25px;
}

.nameright
{
text-align: right;
margin-right: 20px;
}

.buttonright
{
margin-left: 70%;
}

.checkboxes
{
margin-left: 15px;
}

.shortForm
{
display: block;
width: 400px;
height:39px;
padding:8px 12px;
font-size:15px;
line-height:1.42857143;
color:#777777;
background-color:#ffffff;
background-image:none;
border:1px solid #cccccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.shortForm:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.shortForm::-moz-placeholder{color:#999999;opacity:1}.shortForm:-ms-input-placeholder{color:#999999}.shortForm::-webkit-input-placeholder{color:#999999}.shortForm[disabled],.shortForm[readonly],fieldset[disabled] .shortForm{cursor:not-allowed;background-color:#eeeeee;opacity:1}textarea.shortForm{height:auto}input[type="search"]{-webkit-appearance:none}input[type="date"]{line-height:39px}

.elementBox
{
display: block;
width: 400px;
height:39px;
padding:8px 12px;
font-size:15px;
line-height:1.42857143;
color:#777777;
background-color:#ffffff;
background-image:none;
border:1px solid #cccccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.matForm
{
display: block;
width: 600px;
height:39px;
padding:8px 12px;
font-size:15px;
line-height:1.42857143;
color:#777777;
background-color:#ffffff;
background-image:none;
border:1px solid #cccccc;
border-radius:4px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.matForm:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}.matForm::-moz-placeholder{color:#999999;opacity:1}.matForm:-ms-input-placeholder{color:#999999}.matForm::-webkit-input-placeholder{color:#999999}.matForm[disabled],.matForm[readonly],fieldset[disabled] .matForm{cursor:not-allowed;background-color:#eeeeee;opacity:1}textarea.matForm{height:auto}input[type="search"]{-webkit-appearance:none}input[type="date"]{line-height:39px}