body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.addstory
{
width:900px;
margin-left:auto;
margin-right:auto;
}

.separate
{
margin-left:10px;
margin-right:10px;
}

.filter
{
margin-left: 25px;
}

.nameright
{
text-align: right;
margin-right: 20px;
}

.buttonright
{
margin-left: 70%;
}

.checkboxes
{
margin-left: 15px;
}
